@model CineFlix_Models.Regisseur

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Regisseur</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Naam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Naam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Geboortejaar)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Geboortejaar)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nationaliteit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nationaliteit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Biografie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Biografie)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsDeleted)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsDeleted)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DeletedOn)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DeletedOn)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.RegisseurId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
