@model IEnumerable<CineFlix_Models.Regisseur>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Create">Create New</a>
    }

</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Naam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Geboortejaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Nationaliteit)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Biografie)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Naam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Geboortejaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nationaliteit)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Biografie)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.RegisseurId">Bewerk</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.RegisseurId">Verwijder</a> <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.RegisseurId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
