@model CineFlix_Models.Genre

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Genre</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.GenreNaam)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.GenreNaam)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Beschrijving)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Beschrijving)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Kleur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Kleur)
        </dd>
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin"))
    {
        <a asp-action="Edit" asp-route-id="@Model?.GenreId" class="btn btn-warning">Edit</a> <span> | </span>
    }
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
</div>
