@model IEnumerable<CineFlix_Models.Genre>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.GenreNaam)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.GenreNaam)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                @if (User.IsInRole("Admin"))
                {
                    <a asp-action="Edit" asp-route-id="@item.GenreId">Bewerk</a> <span>|</span>
                    <a asp-action="Delete" asp-route-id="@item.GenreId">Verwijder</a> <span>|</span>
                }
                <a asp-action="Details" asp-route-id="@item.GenreId">Details</a>
            </td>
        </tr>
}
    </tbody>
</table>
