@model IEnumerable<CineFlix_Models.Film>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Titel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Releasejaar)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DuurMinuten)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Beschrijving)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CoverAfbeelding)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Rating)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Regisseur)
            </th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Titel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Releasejaar)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DuurMinuten)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Beschrijving)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CoverAfbeelding)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Rating)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Regisseur.Naam)
            </td>
            <td>
                @* Iedereen mag Details zien *@
                <a asp-action="Details" asp-route-id="@item.FilmId" class="btn btn-info btn-sm">Details</a>

                @* Alleen Admin mag Edit en Delete zien *@
                @if (User.IsInRole("Admin"))
                  {
                     <span> | </span>
                     <a asp-action="Edit" asp-route-id="@item.FilmId" class="btn btn-warning btn-sm">Edit</a>
                     <span> | </span>
                     <a asp-action="Delete" asp-route-id="@item.FilmId" class="btn btn-danger btn-sm">Delete</a>
                  }
            </td>
        </tr>
}
    </tbody>
</table>
